.DS_Store
.env
sample-data/
.ipynb_checkpoints/
*.duckdb
python-prototype/chroma/
__pycache__
js/meaningfully/storage
e2e/test-storage/metadata.db
.vscode/
node_modules
dist
out
.DS_Store
*.log*
e2e/test-storage/metadata.db
